<?xml version="1.0" encoding="utf-8" ?>
<venus>
  <components>
    <assemblyScan>
      <namespace name="Com.Ctrip.Framework.Apollo.Internals" />
      <namespace name="Com.Ctrip.Framework.Apollo.Spi" />
      <namespace name="Com.Ctrip.Framework.Apollo.Util" />
    </assemblyScan>
  </components>
</venus>
