<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="test" type="Apollo.ConfigurationManager.Tests.TestConfigurationSection, Apollo.ConfigurationManager.Tests" />
  </configSections>

  <configBuilders>
    <builders>
      <add name="AppSettingsSectionBuilder" type="Com.Ctrip.Framework.Apollo.AppSettingsSectionBuilder, Com.Ctrip.Framework.Apollo.ConfigurationManager" namespace="application.json;application.xml;application.yml;application.yaml;application" />
      <add name="ConnectionStringsSectionBuilder" type="Com.Ctrip.Framework.Apollo.ConnectionStringsSectionBuilder, Com.Ctrip.Framework.Apollo.ConfigurationManager" namespace="application.json;application.xml;application.yml;application.yaml;application" />
      <add name="ClientSectionBuilder" type="Com.Ctrip.Framework.Apollo.NodeReplaceSectionBuilder, Com.Ctrip.Framework.Apollo.ConfigurationManager" namespace="application.json;application.xml;application.yml;application.yaml;application" key="system.serviceModel:client" />
      <add name="CommonSectionBuilder" type="Com.Ctrip.Framework.Apollo.CommonSectionBuilder, Com.Ctrip.Framework.Apollo.ConfigurationManager" keyPrefix="" namespace="application.json;application.xml;application.yml;application.yaml;application" />
    </builders>
  </configBuilders>

  <connectionStrings configBuilders="ConnectionStringsSectionBuilder" />

  <appSettings configBuilders="AppSettingsSectionBuilder">
    <add key="Apollo:AppId" value="apollo.net" />
    <add key="Apollo:EnablePlaceholder" value="true" />
    <add key="Apollo:Secret" value="ffd9d01130ee4329875ac3441c0bedda" />
    <add key="Apollo:MetaServer" value="http://106.54.227.205:8080/" />
  </appSettings>

  <system.serviceModel>
    <client configBuilders="ClientSectionBuilder" />
  </system.serviceModel>

  <test configBuilders="CommonSectionBuilder">
    <map>
      <add key="abc" value="123" />
    </map>
  </test>

</configuration>
